[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=knowthelist
Name[en]=knowthelist
GenericName=knowthelist
GenericName[en]=knowthelist
Comment=Knowthelist the awesome party music player
Comment[en]=Knowthelist the awesome party music player
Icon=knowthelist.png
Exec=knowthelist
Terminal=false
StartupNotify=false
Categories=Application;Multimedia;
