polkit.addRule(function(action, subject) {

        if (action.id.indexOf("org.kde.powerdevil.backlighthelper.") == 0 &&

        subject.isInGroup("users")) {

                return polkit.Result.YES;

        }

}); 

