[Desktop Entry]
GenericName=Advanced Text Editor
GenericName[ar]=محرر نصوص متقدّم
GenericName[ast]=Editor de testu avanzáu
GenericName[bg]=Усъвършенстван текстов редактор
GenericName[bs]=Napredni uređivač teksta
GenericName[ca]=Editor de text avançat
GenericName[ca@valencia]=Editor de text avançat
GenericName[cs]=Pokročilý textový editor
GenericName[da]=Avanceret teksteditor
GenericName[de]=Erweiterter Texteditor
GenericName[el]=Προχωρημένος επεξεργαστής κειμένου
GenericName[en_GB]=Advanced Text Editor
GenericName[es]=Editor de texto avanzado
GenericName[et]=Täiustatud tekstiredaktor
GenericName[eu]=Testu-editore aurreratua
GenericName[fi]=Kehittynyt tekstimuokkain
GenericName[fr]=Éditeur de texte avancé
GenericName[ga]=Ardeagarthóir Téacs
GenericName[gl]=Editor avanzado de textos
GenericName[he]=עורך טקסט מתקדם
GenericName[hr]=Napredni uređivač teksta
GenericName[hu]=Speciális szövegszerkesztő
GenericName[ia]=Editor avantiate de texto
GenericName[is]=Þróaður textaritill
GenericName[it]=Editor di testi avanzato
GenericName[ja]=高度なテキストエディタ
GenericName[kk]=Үздік мәтін редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​អត្ថបទ​កម្រិត​ខ្ពស់
GenericName[ko]=고급 텍스트 편집기
GenericName[lt]=Sudėtingesnis teksto redaktorius
GenericName[lv]=Jaudīgs teksta redaktors
GenericName[mr]=प्रगत पाठ्य संपादक
GenericName[nb]=Avansert skriveprogram
GenericName[nds]=Verwiedert Texteditor
GenericName[ne]=उन्नत पाठ सम्पादक
GenericName[nl]=Geavanceerde teksteditor
GenericName[nn]=Avansert skriveprogram
GenericName[pa]=ਤਕਨੀਕੀ ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Zaawansowany edytor tekstu
GenericName[pt]=Editor de Texto Avançado
GenericName[pt_BR]=Editor de textos avançado
GenericName[ro]=Redactor de text avansat
GenericName[ru]=Улучшенный текстовый редактор
GenericName[si]=උසස් පෙළ සකසනය
GenericName[sk]=Pokročilý textový editor
GenericName[sl]=Napreden urejevalnik besedil
GenericName[sr]=Напредни уређивач текста
GenericName[sr@ijekavian]=Напредни уређивач текста
GenericName[sr@ijekavianlatin]=Napredni uređivač teksta
GenericName[sr@latin]=Napredni uređivač teksta
GenericName[sv]=Avancerad texteditor
GenericName[tg]=Таҳриргари матнии беҳтаршуда
GenericName[tr]=Gelişmiş Metin Düzenleyici
GenericName[ug]=ئالىي تېكىست تەھرىرلىگۈچ
GenericName[uk]=Потужний текстовий редактор
GenericName[vi]=Trình biên tập văn bản nâng cao
GenericName[x-test]=xxAdvanced Text Editorxx
GenericName[zh_CN]=高级文本编辑器
GenericName[zh_TW]=進階文字編輯器
Name=kate-kf6
Name[ar]=كيت
Name[ast]=kate-kf6
Name[be]=kate-kf6
Name[bg]=kate-kf6
Name[bs]=kate-kf6
Name[ca]=kate-kf6
Name[ca@valencia]=kate-kf6
Name[cs]=kate-kf6
Name[da]=kate-kf6
Name[de]=kate-kf6
Name[el]=kate-kf6
Name[en_GB]=kate-kf6
Name[eo]=kate-kf6
Name[es]=kate-kf6
Name[et]=kate-kf6
Name[eu]=kate-kf6
Name[fi]=kate-kf6
Name[fr]=kate-kf6
Name[ga]=kate-kf6
Name[gl]=kate-kf6
Name[he]=kate-kf6
Name[hu]=kate-kf6
Name[ia]=kate-kf6
Name[it]=kate-kf6
Name[ja]=kate-kf6
Name[kk]=kate-kf6
Name[km]=kate-kf6
Name[ko]=kate-kf6
Name[lt]=kate-kf6
Name[lv]=kate-kf6
Name[mr]=केट
Name[ms]=kate-kf6
Name[nb]=kate-kf6
Name[nds]=kate-kf6
Name[ne]=केट
Name[nl]=kate-kf6
Name[nn]=kate-kf6
Name[pa]=ਕੇਟ
Name[pl]=kate-kf6
Name[pt]=kate-kf6
Name[pt_BR]=kate-kf6
Name[ro]=kate-kf6
Name[ru]=kate-kf6
Name[si]=kate-kf6
Name[sk]=kate-kf6
Name[sl]=kate-kf6
Name[sr]=Кејт
Name[sr@ijekavian]=Кејт
Name[sr@ijekavianlatin]=kate-kf6
Name[sr@latin]=kate-kf6
Name[sv]=kate-kf6
Name[tg]=Кейт
Name[tr]=kate-kf6
Name[ug]=kate-kf6
Name[uk]=kate-kf6
Name[vi]=kate-kf6
Name[wa]=kate-kf6
Name[x-test]=xxkate-kf6xx
Name[zh_CN]=kate-kf6
Name[zh_TW]=kate-kf6
MimeType=text/plain;
Exec=kate-kf6 -b %U
X-KDE-StartupNotify=false
X-KDE-HasTempFileOption=true
Icon=kate-kf6
X-DocPath=kate/index.html
Type=Application
Terminal=false
InitialPreference=9
X-DBUS-ServiceName=org.kde.kate-kf6
Categories=Qt;KDE;Utility;TextEditor;
