#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Exec=assistant-qt6
Name=Qt6 Assistant
Name[af]=Qt6 Assistent
Name[ar]=معاون Qt6
Name[az]=Qt6 Yardımçısı
Name[bn]=কিউ-টি সহায়ক
Name[br]=Skoazeller Qt6
Name[bs]=Qt6 Asistent
Name[ca]=Assistent Qt6
Name[cs]=Qt6 asistent
Name[cy]=Cymhorthwr Qt6
Name[de]=Qt6-Assistent
Name[el]=Βοηθός Qt6
Name[eo]=Qt6-Asistilo
Name[es]=Asistente Qt6
Name[eu]=Qt6 laguntzailea
Name[fa]=دستیار Qt6
Name[fo]=Qt6-hjálpari
Name[fy]=Qt6-assistent
Name[hi]=क्यूटी सहायक
Name[hr]=Qt6 Asistent
Name[hsb]=Qt6 Asistent
Name[ja]=Qt6 アシスタント
Name[km]=អ្នក​ជំនួយការ Qt6
Name[ko]=Qt6 도우미
Name[lo]=ຄຳແນະນຳການໃ້ຊ້Qt6
Name[lv]=Qt6 Asistents
Name[mk]=Qt6-Асистент
Name[mn]=Qt6-туслагч
Name[ms]=Pembantu Qt6
Name[nds]=Qt6-Hölper
Name[nl]=Qt6 Assistent
Name[nso]=Mothusi wa Qt6
Name[pa]=Qt6 ਸਹਾਇਕ
Name[pt]=Assistente do Qt6
Name[pt_BR]=Assistente Qt6
Name[ro]=Asistent Qt6
Name[ru]=Помощник Qt6
Name[rw]=Umufasha Qt6
Name[sl]=Pomočnik za Qt6
Name[ss]=Lisekela leQt6 
Name[ta]=Qt6 துணைவன்
Name[tg]=Дастёри Qt6
Name[th]=คำแนะนำการใช้ Qt6
Name[tr]=Qt6 Asistanı
Name[uk]=Qt6-асистент
Name[uz]=Qt63 ёрдамчи
Name[ven]=Qt6 Muthusi
Name[vi]=Trợ giúp Qt6
Name[wa]=Macrea Qt6
Name[xh]=Qt6 Umncedi
Name[zh_CN]=Qt6 助手
Name[zh_TW]=Qt6 助理
Name[zu]=Umsizi we-Qt6
GenericName=Document Browser
GenericName[af]=Dokument Blaaier
GenericName[ar]=متصفح المستندات
GenericName[az]=Sənəd Səyyahı
GenericName[bg]=Преглед на документи
GenericName[bn]=নথী ব্রাউজার
GenericName[br]=Furcher Teulioù
GenericName[bs]=Preglednik QT dokumenata
GenericName[ca]=Navegador de documents
GenericName[cs]=Prohlížeč dokumentace
GenericName[cy]=Porydd Dogfen
GenericName[da]=Dokumentfremviser
GenericName[de]=Dokumentbrowser
GenericName[el]=Προβολέας εγγράφων
GenericName[eo]=Dokumentorigardilo
GenericName[es]=Navegador de documentos
GenericName[et]=Dokumentatsiooni brauser
GenericName[eu]=Dokumentu arakatzailea
GenericName[fa]=مرورگر سند
GenericName[fi]=Asiakirjaselain
GenericName[fo]=Skjalakagari
GenericName[fr]=Explorateur de documentation Qt6
GenericName[fy]=Dokumintblêder
GenericName[ga]=Brabhsálaí Cáipéise
GenericName[gl]=Navegador de Documentos
GenericName[he]=דפדפן מסמכים
GenericName[hi]=दस्तावेज़ ब्राउज़रज़र
GenericName[hr]=Preglednik dokumenata
GenericName[hu]=Dokumentumböngésző
GenericName[id]=Peselancar Document
GenericName[is]=Skjalavafri
GenericName[it]=Visualizzatore di documenti
GenericName[ja]=ドキュメントブラウザ
GenericName[km]=កម្មវិធី​រុករក​ឯកសារ
GenericName[ko]=문서 탐색기
GenericName[lo]=ເຄື່ອງມືເລືອກເບິ່ງແຟ້ມເອກະສານ
GenericName[lt]=Dokumentų naršyklė
GenericName[lv]=Dokumentu Pārlūks
GenericName[mk]=Прелистувач на документи
GenericName[mn]=Баримтын хөтөч
GenericName[ms]=Pelungsur Dokumen
GenericName[mt]=Browser ta' Dokumenti
GenericName[nb]=Dokumentleser
GenericName[nds]=Dokmentkieker
GenericName[nl]=Documentbrowser
GenericName[nn]=Dokumentlesar
GenericName[nso]=Seinyakisi sa Tokomane
GenericName[pa]=ਦਸਤਾਵੇਜ਼ ਝਲਕਾਰਾ
GenericName[pl]=Przeglądarka dokumentów
GenericName[pt]=Navegador de Documentos
GenericName[pt_BR]=Navegador de Documentos
GenericName[ro]=Navigator de documente
GenericName[ru]=Программа просмотра документов
GenericName[rw]=Mucukumbuzi w'Inyandiko
GenericName[se]=Dokumeantalogan
GenericName[sk]=Prehliadač dokumentácie
GenericName[sl]=Pregledovalnik dokumentov
GenericName[sr]=Прегледач докумената
GenericName[sr@Latn]=Pregledač dokumenata
GenericName[ss]=Ibrawuza yelidokhumente
GenericName[sv]=Dokumentbläddrare
GenericName[ta]=ஆவண உலாவி
GenericName[tg]=Тафсири ҳуҷҷат
GenericName[th]=เครื่องมือเลือกดูแฟ้มเอกสาร
GenericName[tr]=Belge Tarayıcısı
GenericName[tt]=İstälek Küzätüçe
GenericName[uk]=Навігатор документів
GenericName[uz]=Ҳужжат браузери
GenericName[ven]=Buronza ya manwalwa
GenericName[vi]=Trình duyệt tài liệu
GenericName[wa]=Foyteu di documints
GenericName[xh]=Umkhangeli Wencwadi Zoxwebhu
GenericName[zh_CN]=文档浏览器
GenericName[zh_TW]=文件閱讀器
GenericName[zu]=Umcingi Woshicilelo
X-KDE-StartupNotify=true
Icon=assistant6
Terminal=false
Type=Application
Categories=Qt;Development;
