[Desktop Entry]
Name=Qt6 Linguist
Name[tr]=Qt6 Dilci
GenericName=Translation tool
Comment=Add translations to Qt6 applications
Exec=linguist-qt6
Icon=linguist6
MimeType=text/vnd.trolltech.linguist;application/x-linguist;
Terminal=false
Type=Application
Categories=Qt;Development;
