[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=urbanterror
Name[tr]=urbanterror
GenericName=Multiprocessor
GenericName[tr]=Çok İşlemci Destekli
Icon=urbanterror
Exec=urbanterror-smp
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
