[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Mediainfo
GenericName=Mediainfo
GenericName[de]=Mediainfo
Comment=Supplies technical and tag information about a video or audio file
Comment[de]=Infotool für Mediadateien (Auflösung, Codec, ...)
Comment[fr]=fournit des informations techniques et les tags à propos de vos fichiers video et audio
Comment[pl]=Informacje techniczne o plikach multimedialnych.
Icon=mediainfo.png
Exec=mediainfo-gui %f
Categories=AudioVideo;AudioVideoEditing;
Type=Application
Terminal=false
MultipleArgs=false 
