[Desktop Entry]
Name=OpenJDK Java Console
Name[fi]=OpenJDK Java - konsoli
Comment=OpenJDK Java Monitoring & Management Console
Comment[fi]=OpenJDK Java - valvonta- ja hallintakonsoli
Keywords=java;console;monitoring
Exec=/usr/lib/jvm/java-openjdk/bin/jconsole
Terminal=false
Type=Application
Icon=java-openjdk
Categories=Application;System;
