[Desktop Entry]
Name=OpenJDK Java Runtime
Name[fi]=OpenJDK Java - ajonaikainen ympäristö
Comment=OpenJDK Java Runtime
Comment[fi]=OpenJDK Java - ajonaikainen ympäristö
Keywords=java;runtime
Exec=/usr/lib/jvm/java-openjdk/bin/java -jar
Terminal=false
Type=Application
Icon=java-openjdk
MimeType=application/x-java-archive;application/java-archive;application/x-jar;
NoDisplay=true
