[Desktop Entry]
Name=OpenJDK Java Shell
Comment=OpenJDK Java Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-openjdk/bin/jshell
Terminal=true
Type=Application
Icon=java-openjdk
Categories=Application;System;
