[Desktop Entry]
Type=Application
Version=1.0
Name=Pisi Linux — System Installer
Name[tr_TR]=Pisi Linux Sistem Yükleyici
Comment=Pisi Linux — System Installer
Comment[tr_TR]=Pisi Linux Sistem Yükleyici
Exec=sudo LC_ALL=en_US calamares %f
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;

