[Desktop Entry]
Categories=Game;ActionGame;
Name=Unvanquished
GenericName=Sci-Fi RTS and FPS mashup
GenericName[tr]=Bilim-kurgu FPS ve RTS oyunu
Type=Application
Exec=unvanquished
Icon=/usr/share/pixmaps/unvanquished.png
