polkit.addRule(function(action, subject) {
	if (action.id == "org.freedesktop.libelogind.system.stop" ||
		action.id == "org.freedesktop.libelogind.system.restart" ||
		action.id == "org.freedesktop.libelogind.system.hibernate" ||
		action.id == "org.freedesktop.libelogind.system.suspend") {
		return polkit.Result.YES;
	}
});
