[Desktop Entry]
Type=Application
Name=Window Effects
GenericName=Compton Configuration
Comment=Configure Compton window effects
TryExec=compton-conf
Exec=compton-conf
Icon=preferences-desktop-theme
Categories=Settings;DesktopSettings;Qt;LXQt;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;

Name[ca]=Efectes de les finestres
GenericName[ca]=Configuració de Compton
Comment[ca]=Configureu els efectes de les finestres de Compton
Name[cs]=Efekty oken
GenericName[cs]=Nastavení kompozitoru Compton
Comment[cs]=Nastavit Compton efekty oken
Name[da]=Vindueseffekter
GenericName[da]=Compton-konfiguration
Comment[da]=Konfigurér Compton's vindueseffekter
Name[de]=Fenstereffekte
GenericName[de]=Compton Konfiguration
Comment[de]=Konfiguriere Compton-Fenstereffekte
Name[es]=Efectos de ventana
GenericName[es]=Configuración de Compton
Comment[es]=Configura los efectos de ventana de Compton
Name[fr]=Effets des fenêtres
GenericName[fr]=Paramétrage de Compton
Comment[fr]=Paramétrage de Compton (effets des fenêtres)
Name[hu]=Ablakhatások
GenericName[hu]=Compton beállítás
Comment[hu]=Compton-ablakhatások beállítása
Name[it]=Effetti delle finestre
Comment[it]=Configura gli effetti delle finestre di Compton
Name[ja]=ウインドウ効果
GenericName[ja]=Comptonの設定
Comment[ja]=Comptonのウインドウ効果の設定
Name[lt]=Langų efektai
GenericName[lt]=Compton konfigūravimas
Comment[lt]=Konfigūruoti Compton langų efektus
Name[pl]=Edytor konfiguracji Comptona
GenericName[pl]=Efekty wizualne
Comment[pl]=Edytor konfiguracji menedżera kompozycji okien Compton
Name[pt]=Efeitos de janelas
GenericName[pt]=Configuração do Compton
Comment[pt]=Configurar os efeitos de janelas
Name[ru]=Эффекты окна
GenericName[ru]=Настройка Compton
Comment[ru]=Настроить эффекты окна Compton
Name[tr]=Pencere Efektleri
GenericName[tr]=Pencere Yapılandırması
Comment[tr]=Pencere efektlerini yapılandırma
Name[zh_CN]=窗口特效
GenericName[zh_CN]=Compton 配置
Comment[zh_CN]=配置 Compton 窗口特效
Name[zh_TW]=視窗效果
GenericName[zh_TW]=Compton 設定
Comment[zh_TW]=設定 Compton 視窗效果
