[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Gnome-screenshot
Name[tr]=Gnome-screenshot
GenericName=Gnome-screenshot
GenericName[tr]=Gnome-screenshot
Icon=gnome-screenshot
Exec=gnome-screenshot
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
