[Desktop Entry]
Exec=bovo -qwindowtitle %c
Name=bovo
Name[ast]=bovo
Name[bs]=bovo
Name[ca]=bovo
Name[ca@valencia]=bovo
Name[cs]=bovo
Name[da]=bovo
Name[de]=bovo
Name[el]=bovo
Name[en_GB]=bovo
Name[eo]=bovo
Name[es]=bovo
Name[et]=bovo
Name[eu]=bovo
Name[fa]=بُوُ
Name[fi]=bovo
Name[fr]=bovo
Name[ga]=bovo
Name[gl]=bovo
Name[hne]=बोवो
Name[hr]=bovo
Name[hu]=bovo
Name[it]=bovo
Name[ja]=bovo
Name[kk]=Бово
Name[km]=bovo
Name[ko]=bovo
Name[lt]=bovo
Name[lv]=bovo
Name[mai]=bovo
Name[mr]=बोव्हो
Name[ms]=bovo
Name[nb]=bovo
Name[nds]=bovo
Name[ne]=बोभो
Name[nl]=bovo
Name[nn]=bovo
Name[pa]=ਬੋਵੋ
Name[pl]=bovo
Name[pt]=bovo
Name[pt_BR]=bovo
Name[ro]=bovo
Name[ru]=bovo
Name[sk]=bovo
Name[sl]=bovo
Name[sq]=bovo
Name[sr]=Бово
Name[sr@ijekavian]=Бово
Name[sr@ijekavianlatin]=bovo
Name[sr@latin]=bovo
Name[sv]=bovo
Name[te]=బొవొ
Name[tr]=bovo
Name[ug]=bovo
Name[uk]=Бово
Name[wa]=bovo
Name[x-test]=xxbovoxx
Name[zh_CN]=bovo
Name[zh_TW]=bovo
Icon=bovo
Type=Application
X-DocPath=bovo/index.html
GenericName=Five-in-a-row Board Game
GenericName[ast]=Xuegu de tableru cinco en llinia
GenericName[bs]=Pet-u-redu Igra na ploči
GenericName[ca]=Joc de cinc en fila
GenericName[ca@valencia]=Joc de cinc en fila
GenericName[cs]=Desková hra "pět v řadě"
GenericName[da]=Fem-på-række-brætspil
GenericName[de]=Fünf-Gewinnt-Brettspiel
GenericName[el]=Επιτραπέζιο παιχνίδι Πέντε στη σειρά
GenericName[en_GB]=Five-in-a-row Board Game
GenericName[eo]=Gobanga bretludo
GenericName[es]=Juego de tablero de cinco en línea
GenericName[et]=Viis ritta lauamäng
GenericName[eu]=Bostko artzain-jokoa
GenericName[fa]=بازی تخته پنج در یک سطر
GenericName[fi]=Viiden suora
GenericName[fr]=Jeu de plateau « Cinq-en-ligne »
GenericName[ga]=Cluiche cláir cúig-cinn-as-a-chéile
GenericName[gl]=Xogo de taboleiro «pai, fillo e nai»
GenericName[hne]=बोर्ड मं एक लकीर मं पांच वाले खेल
GenericName[hu]=Ötöt egy sorba táblajáték
GenericName[is]=Fimm-í-röð borðleikur
GenericName[it]=Forza 5, gioco da tavolo
GenericName[ja]=五目並べ
GenericName[kk]="Бесеуін - қатарға" ойны
GenericName[km]=ល្បែង​ក្ដារ ប្រាំ​ក្នុង​មួយ​ជួរ
GenericName[ko]=오목 게임
GenericName[lt]=Penki-vienoje-eilutėje stalo žaidimas
GenericName[lv]=Galda spēle pieci-rindā
GenericName[mr]=एका-ओळीत-पाच बोर्ड खेळ
GenericName[nb]=Brettspill fem på rad
GenericName[nds]="Fief op de Reeg"-Speel
GenericName[ne]=एक पङ्क्तिमा पाँच बोर्ड खेल
GenericName[nl]=Vijf-op-een-rij bordspel
GenericName[nn]=Fem på rad
GenericName[pl]=Gra planszowa "Pięć w rzędzie"
GenericName[pt]=Jogo de Tabuleiro Cinco-em-Linha
GenericName[pt_BR]=Jogo de tabuleiro como Reversi
GenericName[ro]=Joc de table Cinci-în-linie
GenericName[ru]=Японские крестики-нолики
GenericName[sk]=Stolová hra Piškvorky
GenericName[sl]=Namizna igra Pet v vrsto
GenericName[sr]=Игра на табли „пет у низу“
GenericName[sr@ijekavian]=Игра на табли „пет у низу“
GenericName[sr@ijekavianlatin]=Igra na tabli „pet u nizu“
GenericName[sr@latin]=Igra na tabli „pet u nizu“
GenericName[sv]=Fem-i-rad brädspel
GenericName[tr]=Bir-satırda-beş Tahta Oyunu
GenericName[ug]=بىر-قۇردا-بەش تاختا ئويۇنى
GenericName[uk]=Гра на дошці (п'ять-в-рядку)
GenericName[wa]=Djeu «cénk e roye»
GenericName[x-test]=xxFive-in-a-row Board Gamexx
GenericName[zh_CN]=五子棋游戏
GenericName[zh_TW]=五子棋棋盤遊戲
Terminal=false
StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;BoardGame;
X-DBUS-ServiceName=org.kde.bovo
