[Desktop Entry]
Type=Application
Name=About LXQt
GenericName=About LXQt
Comment=Learn more about LXQt
Exec=lxqt-about
Icon=help-about
Categories=System;Documentation;
OnlyShowIn=LXQt;

Name[ar]=عن لكسكيوت
GenericName[ar]=عن لكسكيوت
Comment[ar]=اطّلع على المزيد حول لكسكيوت
Name[ca]=Quant a LXQt
GenericName[ca]=Quant a LXQt
Comment[ca]=Conegueu més coses quant a LXQt
Name[cs]=O LXQt
GenericName[cs]=O LXQt
Comment[cs]=Více o LXQt
Name[da]=Om LXQt
GenericName[da]=Om LXQt
Comment[da]=Lær mere om LXQt
Name[de]=Über LXQt
GenericName[de]=Über LXQt
Comment[de]=Mehr über LXQt erfahren
Name[el]=Σχετικά με το LXQt
GenericName[el]=Σχετικά με το LXQt
Comment[el]=Μάθετε περισσότερα σχετικά με το LXQt
Name[es]=Acerca de LXQt
GenericName[es]=Acerca de LXQt
Comment[es]=Saber más acerca LXQt
GenericName[fr]=À propos de LXQt
Name[fr]=À propos de LXQt
Name[hu]=Az LXQt
GenericName[hu]=Az LXQt -ról
Comment[hu]=Bővebben az LXQt asztalról 
GenericName[ja]=LXQtについて
Name[ja]=LXQtについて
GenericName[lt]=Apie LXQt
Name[lt]=Apie LXQt
Comment[lt]=Sužinokite daugiau apie LXQt
Name[nl]=Over LXQt
GenericName[nl]=Over LXQt
Comment[nl]=Meer over LXQt te weten komen
GenericName[pl]=Informacje o LXQt
Name[pl]=O LXQt
Comment[pl]=Dowiedz się więcej o środowisku LXQt
Name[pt]=Sobre o LXQt
GenericName[pt]=Sobre o LXQt
Comment[pt]=Saber mais sobre o LXQt
GenericName[ru]=Узнать больше об LXQt
Name[ru]=Об LXQt
Name[tr]=LXQt Hakkında
GenericName[tr]=LXQt Hakkında
Name[zh_CN]=关于 LXQt
GenericName[zh_CN]=关于 LXQt
Comment[zh_CN]=进一步了解 LXQt。
Name[zh_TW]=關於 LXQt
GenericName[zh_TW]=關於 LXQt
Comment[zh_TW]=進一步了解 LXQt。
