[Desktop Entry]
Type=Application
Icon=text-editor
Name=Adie
Exec=adie
Terminal=false
Hidden=false
Categories=Utility
Comment=Adie is an extremely fast and convenient programming text editor using the FOX Toolkit.
