[Desktop Entry]
Type=Application
Exec=calculator
Terminal=false
Hidden=false
Name=Calculator
Icon=accessories-calculator
Categories=Utility
Comment=The FOX Calculator is a simple desktop calculator geared toward the programmer.
