[Desktop Entry]
Type=Application
Exec=ControlPanel
Terminal=false
Hidden=false
Name=ControlPanel
Icon=preferences-desktop
Categories=Settings
Comment=Configure desktop settings for FOX Toolkit applications.
