[Desktop Entry]
Type=Application
Exec=PathFinder
Terminal=false
Hidden=false
Name=PathFinder
Icon=system-file-manager
Categories=Utility
Comment=Simple file manager written in FOX Toolkit.
