[Desktop Entry]
Type=Application
Exec=shutterbug
Terminal=false
Hidden=false
Name=shutterbug
Icon=applets-screenshooter
Categories=Utility
Comment=Shutterbug is a simple screen snapshot application inspired by SGI Snapshot.
