[Desktop Entry]
GenericName=Advanced Text Editor
GenericName[ar]=محرر نصوص متقدّم
GenericName[ast]=Editor de testu avanzáu
GenericName[bg]=Усъвършенстван текстов редактор
GenericName[bs]=Napredni uređivač teksta
GenericName[ca]=Editor de text avançat
GenericName[ca@valencia]=Editor de text avançat
GenericName[cs]=Pokročilý textový editor
GenericName[da]=Avanceret teksteditor
GenericName[de]=Erweiterter Texteditor
GenericName[el]=Προχωρημένος επεξεργαστής κειμένου
GenericName[en_GB]=Advanced Text Editor
GenericName[es]=Editor de texto avanzado
GenericName[et]=Täiustatud tekstiredaktor
GenericName[eu]=Testu-editore aurreratua
GenericName[fi]=Kehittynyt tekstimuokkain
GenericName[fr]=Éditeur de texte avancé
GenericName[ga]=Ardeagarthóir Téacs
GenericName[gl]=Editor avanzado de textos
GenericName[he]=עורך טקסט מתקדם
GenericName[hr]=Napredni uređivač teksta
GenericName[hu]=Speciális szövegszerkesztő
GenericName[ia]=Editor avantiate de texto
GenericName[is]=Þróaður textaritill
GenericName[it]=Editor di testi avanzato
GenericName[ja]=高度なテキストエディタ
GenericName[kk]=Үздік мәтін редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​អត្ថបទ​កម្រិត​ខ្ពស់
GenericName[ko]=고급 텍스트 편집기
GenericName[lt]=Sudėtingesnis teksto redaktorius
GenericName[lv]=Jaudīgs teksta redaktors
GenericName[mr]=प्रगत पाठ्य संपादक
GenericName[nb]=Avansert skriveprogram
GenericName[nds]=Verwiedert Texteditor
GenericName[ne]=उन्नत पाठ सम्पादक
GenericName[nl]=Geavanceerde teksteditor
GenericName[nn]=Avansert skriveprogram
GenericName[pa]=ਤਕਨੀਕੀ ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Zaawansowany edytor tekstu
GenericName[pt]=Editor de Texto Avançado
GenericName[pt_BR]=Editor de textos avançado
GenericName[ro]=Redactor de text avansat
GenericName[ru]=Улучшенный текстовый редактор
GenericName[si]=උසස් පෙළ සකසනය
GenericName[sk]=Pokročilý textový editor
GenericName[sl]=Napreden urejevalnik besedil
GenericName[sr]=Напредни уређивач текста
GenericName[sr@ijekavian]=Напредни уређивач текста
GenericName[sr@ijekavianlatin]=Napredni uređivač teksta
GenericName[sr@latin]=Napredni uređivač teksta
GenericName[sv]=Avancerad texteditor
GenericName[tg]=Таҳриргари матнии беҳтаршуда
GenericName[tr]=Gelişmiş Metin Düzenleyici
GenericName[ug]=ئالىي تېكىست تەھرىرلىگۈچ
GenericName[uk]=Потужний текстовий редактор
GenericName[vi]=Trình biên tập văn bản nâng cao
GenericName[x-test]=xxAdvanced Text Editorxx
GenericName[zh_CN]=高级文本编辑器
GenericName[zh_TW]=進階文字編輯器
Name=kate
Name[ar]=كيت
Name[ast]=kate
Name[be]=kate
Name[bg]=kate
Name[bs]=kate
Name[ca]=kate
Name[ca@valencia]=kate
Name[cs]=kate
Name[da]=kate
Name[de]=kate
Name[el]=kate
Name[en_GB]=kate
Name[eo]=kate
Name[es]=kate
Name[et]=kate
Name[eu]=kate
Name[fi]=kate
Name[fr]=kate
Name[ga]=kate
Name[gl]=kate
Name[he]=kate
Name[hu]=kate
Name[ia]=kate
Name[it]=kate
Name[ja]=kate
Name[kk]=kate
Name[km]=kate
Name[ko]=kate
Name[lt]=kate
Name[lv]=kate
Name[mr]=केट
Name[ms]=kate
Name[nb]=kate
Name[nds]=kate
Name[ne]=केट
Name[nl]=kate
Name[nn]=kate
Name[pa]=ਕੇਟ
Name[pl]=kate
Name[pt]=kate
Name[pt_BR]=kate
Name[ro]=kate
Name[ru]=kate
Name[si]=kate
Name[sk]=kate
Name[sl]=kate
Name[sr]=Кејт
Name[sr@ijekavian]=Кејт
Name[sr@ijekavianlatin]=kate
Name[sr@latin]=kate
Name[sv]=kate
Name[tg]=Кейт
Name[tr]=kate
Name[ug]=kate
Name[uk]=kate
Name[vi]=kate
Name[wa]=kate
Name[x-test]=xxkatexx
Name[zh_CN]=kate
Name[zh_TW]=kate
MimeType=text/plain;
Exec=kate -b %U
X-KDE-StartupNotify=false
X-KDE-HasTempFileOption=true
Icon=kate
X-DocPath=kate/index.html
Type=Application
Terminal=false
InitialPreference=9
X-DBUS-ServiceName=org.kde.kate
Categories=Qt;KDE;Utility;TextEditor;
