[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Gnome-clocks
Name[tr]=Gnome-clocks
GenericName=Gnome-clocks
GenericName[tr]=Gnome-clocks
Icon=gnome-clocks
Exec=gnome-clocks
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
