#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=2.2.2
Encoding=UTF-8
Name=Heimdall
Name[de]=Heimdall
Name[tr]=Heimdall
GenericName=Heimdall-Frontend
GenericName[de]=Heimdall-Frontend
GenericName[tr]=Heimdall Arayüzü
Comment=Firmware programmer for Samsung Galaxy S.
Comment[de]=Firmware-Flash (ROMs) für Samsung Galaxy S Handys
Comment[tr]=Samsung Galaxy S telefonuna firmware programlayıcı.
Icon=heimdall
Exec=heimdall-frontend
Terminal=false
StartupNotify=false
Categories=Application;Development;
