[Desktop Entry]
Encoding=UTF-8
Name=Git GUI
Name[tr]=Git GKA
GenericName=Git GUI
GenericName[tr]=Git GKA
Comment=A graphical interface to Git
Comment[tr]=Git için grafik kullanıcı arayüzü
Exec=git gui
Icon=/usr/share/git-gui/lib/git-gui.ico
Terminal=false
Type=Application
Categories=Development;