[Desktop Entry]
Name=Ezanvakti
Comment=Ezanvakti T.C. Diyanet İşleri Başkanlığı sitesinden bulunduğunuz ülke ve şehir için aylık bazda ezan vakitleri çizelgesini alarak vakti geldiğinde ezan okuyan ve bildirim veren bir uygulamadır.
GenericName=Ezanvakti
Exec=/usr/bin/ezanvakti --gui
Icon=ezanvakti
Type=Application
StartupNotify=true
Categories=multimedia.misc;
MimeType=text/plain;
