[Desktop Entry]
Type=Application
Name=Screenshot
GenericName=Screenshot
Comment=Take a screenshot
Exec=lximage-qt --screenshot
Icon=camera-photo
Categories=Graphics;Core;Qt;
StartupNotify=true
Name[ca]=Captura de pantalla
GenericName[ca]=Captura de pantalla
Comment[ca]=Preneu una captura de pantalla
Name[cs]=Snímek obrazovky
GenericName[cs]=Snímek obrazovky
Comment[cs]=Pořízení snímku obrazovky
Name[da]=Skærmbillede
GenericName[da]=Skærmbillede
Comment[da]=Tag et skærmbillede
Name[de]=Bildschirmfoto
GenericName[de]=Bildschirmfoto
Comment[de]=Erstelle ein Bildschirmfoto
Name[el]=Στιγμιότυπο οθόνης
GenericName[el]=Στιγμιότυπο οθόνης
Comment[el]=Λήψη ενός στιγμιότυπου της οθόνης
Name[es]=Captura de pantalla
GenericName[es]=Captura de pantalla
Comment[es]=Toma capturas de la pantalla
Name[fr]=Copie d'écran
GenericName[fr]=Copie d'écran
Comment[fr]=Faire une copie d'écran
Name[hu]=LXQt képernyőfotó
GenericName[hu]=Képrnyőfénykép
Comment[hu]=Képernyőkép készítés
Name[it]=Cattura schermata
GenericName[it]=Cattura una schermata
Comment[it]=Catturare una schermata
Name[lt]=Ekrano kopija
GenericName[lt]=Ekrano kopija
Comment[lt]=Padaryti ekrano kopiją
Name[pl]=Zrzut ekranu
GenericName[pl]=Zrzut ekranu
Comment[pl]=Wykonaj zrzut ekranu
Name[pt]=Captura de ecrã
GenericName[pt]=Captura de ecrã
Comment[pt]=Obter uma captura de ecrã
Name[pt_BR]=Captura de tela
GenericName[pt_BR]=Captura tela
Comment[pt_BR]=Obter uma captura de tela
Name[ru]=Снимок экрана
GenericName[ru]=Снимок экрана
Comment[ru]=Сделать снимок экрана
Name[tr]=Ekran Görüntüsü Al
GenericName[tr]=Ekran Görüntüsü Al
