[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=xfdashboard
GenericName=xfdashboard
GenericName[tr]=xfdashboard
Comment=GNOME shell like dashboard for Xfce
Comment[tr]=GNOME shell like dashboard for Xfce
Icon=xfdashboard
Exec=xfdashboard
Terminal=false
StartupNotify=false
Categories=Application;Game;
