[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Socat
Name[tr]=Socat
GenericName=Socat
GenericName[tr]=Socat
Icon=socat
Exec=socat
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
