[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Cjs
Name[tr]=Cjs
GenericName=Cjs
GenericName[tr]=Cjs
Icon=cjs
Exec=cjs
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
