[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=obs-studio
GenericName=obs-studio
GenericName[tr]=obs-studio
Comment=OBS-Studio is a rewrite of what was formerly known as Open Broadcaster Software
Comment[tr]=OBS-Studio is a rewrite of what was formerly known as Open Broadcaster Software
Icon=/usr/share/pixmaps/obs-logo.png
Exec=/usr/bin/obs
Terminal=false
StartupNotify=false
Categories=Multimedia;Video
