[Desktop Entry]
Encoding=UTF-8
Name=Angry IP Scanner
Name[tr]= Angry IP Tarayıcı
Comment=Fast and friendly network scanner
Comment[tr]=Hızlı ve dost canlısı ağ tarayıcı
GenericName=Fast and friendly network scanner
GenericName=Hızlı ve dost canlısı ağ tarayıcı
Exec=/usr/bin/ipscan
Terminal=false
Type=Application
Icon=ipscan
Categories=Network;Security;
StartupWMClass=Angry IP Scanner
StartupNotify=true
