[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Eog-plugins
Name[tr]=Eog-plugins
GenericName=Eog-plugins
GenericName[tr]=Eog-plugins
Icon=eog-plugins
Exec=eog-plugins
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
