[Desktop Entry]
Encoding=UTF-8
Version=1.12.2432
Name=Nightingale
GenericName=Nightingale Media Player
Comment=Nightingale Media Player
Icon=/usr/share/pixmaps/nightingale.xpm
Exec=/usr/bin/nightingale
Categories=Audio;Music;Player;AudioVideo
Type=Application
Terminal=false
X-KDE-StartupNotify=true
MultipleArgs=false
