[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=additional-logout
Comment=
Exec=/etc/xdg/xfce4/scripts/additional-logout
OnlyShowIn=XFCE;
RunHook=1
StartupNotify=false
Terminal=false
Hidden=false

