[Desktop Entry]
Name=Package Manager
Name[tr]=Paket Yöneticisi-Yardımcı
GenericName=Add/Remove/Update Packages
GenericName[tr]=Ekle/Kaldır/Paketleri Güncelle
Icon=application-x-pisi
Type=Application
StartupNotify=False
MimeType=application/x-pisi;
Exec=pm-install %U
NoDisplay=true
