[Desktop Entry]
Name=Package Manager
Name[tr]=Paket Yöneticisi
GenericName=Add or Remove Software
GenericName[tr]=Yazılım Ekle veya Kaldır
Comment=PiSi Package Manager Graphical User Interface
Comment[tr]=PiSi Paket Yöneticisi Grafik Arayüzü
Icon=application-x-pisi
Type=Application
Exec=package-manager --show-mainwindow
Categories=Qt;KDE;System;
