[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Gnome-system-monitor
Name[tr]=Gnome-system-monitor
GenericName=Gnome-system-monitor
GenericName[tr]=Gnome-system-monitor
Icon=gnome-system-monitor
Exec=gnome-system-monitor
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
