[Desktop Entry]
Name=pgmodeler
GenericName=PostgreSQL ER Database Modeler
Comment=Program with nice Qt interface for visual modeling PostgreSQL database in terms on entity relationship model
Exec=pgmodeler
Icon=pgmodeler_logo.png
Terminal=false
Type=Application
Categories=KDE;Qt;Database;Development;