[Desktop Entry]
Type=Application
Name=Date and Time
GenericName=Date and Time Settings
Comment=Configure the date and time of your system
Exec=lxqt-admin-time
Icon=preferences-system
Categories=LXQt;Settings;DesktopSettings;Qt;
OnlyShowIn=LXQt;

Name[ar]=التّاريخ والوقت
GenericName[ar]=إعدادات التّاريخ والوقت
Comment[ar]=اضبط تاريخ النّظام ووقته
Name[ca]=Data i hora
GenericName[ca]=Ajusts de la data i l'hora
Comment[ca]=Configureu la data i l'hora del vostre sistema
Name[de]=Datum und Zeit
GenericName[de]=Einstellungen für Datum und Zeit
Comment[de]=Konfiguriert das Datum und die Zeit des Systems
Name[el]=Ημερομηνία και ώρα
GenericName[el]=Ρυθμίσεις της ημερομηνίας και της ώρας
Comment[el]=Διαμόρφωση της ημερομηνίας και της ώρας του συστήματός σας
Name[hu]=Dátum és idő
GenericName[hu]=Dátum és időbeállítás
Comment[hu]=A rendszeridő beállítása
Name[it]=Data e ora
Comment[it]=Configura la data e l'ora del sistema
Name[ja]=日時設定
GenericName[ja]=日時の設定
Comment[ja]=システムに日付と時刻を設定します
Name[pl]=Data i czas
GenericName[pl]=Ustawienia daty i czasu
Name[pt]=Data e hora
GenericName[pt]=Definições de data e hora
Comment[pt]=Configurar a data e a hora do seu sistema
Name[ru]=Дата и время
GenericName[ru]=Настройки даты и времени
Comment[ru]=Настроить дату и время вашей системы
Name[tr]=Tarih ve Saat
GenericName[tr]=Tarih ve Saat Ayarı
Comment[tr]=Sisteminizin tarih ve saatini ayarlayını

