[Desktop Entry]
Type=Application
Name=Users and Groups
GenericName=User and Group Settings
Comment=Configure the users and groups of your system
Exec=lxqt-admin-user
Icon=preferences-system
Categories=LXQt;Settings;DesktopSettings;Qt;
OnlyShowIn=LXQt;

Name[ar]=المستخدمون والمجموعات
GenericName[ar]=إعدادات المستخدمون والمجموعات
Comment[ar]=اضبط مستخدمو النّظام ومجموعاته
Name[ca]=Usuaris i grups
GenericName[ca]=Ajusts dels usuaris i dels grups
Comment[ca]=Configureu els usuaris i els grups del vostre sistema
Name[de]=Benutzer und Gruppen
GenericName[de]=Einstellungen für Benutzer und Gruppen
Comment[de]=Konfiguriert die Benutzer und Gruppen des Systems
Name[el]=Χρήστες και ομάδες
GenericName[el]=Ρυθμίσεις χρηστών και ομάδων
Comment[el]=Διαμόρφωση των χρηστών και των ομάδων του συστήματός σας
Name[hu]=Felhasználók és csoportok
GenericName[hu]=Felhasználó és csoportkezelés
Comment[hu]=A rendszer felhasználóinak és csoportjainak kezeése
Name[it]=Utenti e gruppi
Comment[it]=Configura utenti e gruppi del sistema
Name[ja]=ユーザーとグループ
GenericName[ja]=ユーザーとグループの設定
Comment[ja]=システム上のユーザーとグループを設定します
Name[pl]=Użytkownicy i grupy
GenericName[pl]=Zarządzanie użytkownikami i grupami
Name[pt]=Utilizadores e grupos
GenericName[pt]=Definições de utilizadores e grupos
Comment[pt]=Configurar os utilizadores e os grupos do seu sistema
Name[ru]=Пользователи и группы
GenericName[ru]=Настройки пользователей и групп
Comment[ru]=Настроить пользователей и группы вашей системы
Name[tr]=Kullanıcılar ve Gruplar
GenericName[tr]=Kullanıcı ve Grup Ayarları
Comment[tr]=Sisteminizdeki kullanıcı ve grupları ayarlayın
