[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Libgepub
Name[tr]=Libgepub
GenericName=Libgepub
GenericName[tr]=Libgepub
Icon=libgepub
Exec=libgepub
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
