[Desktop Entry]
_Name=Pisi Software Center
_GenericName=Add or Remove Software
_Comment=PiSi Package Manager Graphical User Interface
Icon=application-x-pisi
Type=Application
Exec=pisi-software-center
Categories=System;
