[Desktop Entry]
Type=Application
Name=Locale
GenericName=Locale settings
Comment=Locale settings for LXQt
Exec=lxqt-config-locale
Icon=preferences-desktop-locale
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Name[ar]=المحليّة
GenericName[ar]=إعدادات المحليّة
Comment[ar]=إعدادات المحليّة للكسكيوت
Name[ca]=Configuració regional
GenericName[ca]=Ajusts de la configuració regional
Comment[ca]=Ajusts de la configuració regional per a LXQt
Name[de]=Regionaleinstellungen
GenericName[de]=Regionaleinstellungen
Comment[de]=Regionaleinstellungen für LXQt
Name[it]=Lingua e Paese
Comment[it]=Preferenze della lingua e del paese
Name[ru]=Локаль
GenericName[ru]=Настройки локали
Comment[ru]=Настройки локали для LXQt
Name[tr]=Yerel
GenericName[tr]=Yerel Ayarlar
Comment[tr]=LXQT için yerel ayarlar
