[Desktop Entry]
Type=Application
Name=Keyboard and Mouse
GenericName=Input settings
Comment=Configure keyboard, mouse, and other input devices
Exec=lxqt-config-input
Icon=input-keyboard
Categories=Qt;Settings;HardwareSettings;DesktopSettings;LXQt;
OnlyShowIn=LXQt;

Name[ar]=لوحة المفاتيح والفأرة
GenericName[ar]=إعدادات الدّخل
Comment[ar]=اضبط لوحة المفاتيح، والفأرة وأجهزة الدّخل الأخرى
Name[ca]=Teclat i ratolí
GenericName[ca]=Ajusts de l'entrada
Comment[ca]=Configureu el teclat, el ratolí i altres dispositius d'entrada
Name[de]=Tastatur und Maus
GenericName[de]=Eingabegerätekonfiguration
Comment[de]=Tastatur, Maus und andere Eingabegeräte konfigurieren
Name[el]=Πληκτρολόγιο και ποντίκι
GenericName[el]=Ρυθμίσεις εισαγωγής
Comment[el]=Διαμόρφωση του πληκτρολογίου, του ποντικιού, και άλλων συσκευών εισαγωγής
Name[hu]=Billentyű és egérbeállítás
GenericName[hu]=Beviteli eszközbeállítás
Comment[hu]=TA billentyűzet és egér beállítása
Name[it]=Tastiera e mouse
GenericName[it]=Configura i dispositivi di immissione
Comment[it]=Configura tastiera, mouse e altri dispositivi di immissione
Name[ja]=キーボードとマウス
GenericName[ja]=入力の設定
Comment[ja]=キーボードやマウス、その他の入力デバイスの設定
Name[pl]=Mysz i Klawiatura
GenericName[pl]=Urządzenia wejścia
Comment[pl]=Konfiguracja klawiatury i myszy 
Name[pt]=Teclado e rato
GenericName[pt]=Definições de introdução
Comment[pt]=Configuração do rato, teclado e outros dispositivos de introdução
Comment[ru]=Настроить клавиатуру, мышь и другие устройства ввода
Name[ru]=Клавиатура и мышь
GenericName[ru]=Настройки ввода
Name[tr]=Klavye ve Fare
GenericName[tr]=Girdi Aygıtları Ayarları
Comment[tr]=Klavye, fare ve diğer girdi aygıtlarınızı yapılandırın
