[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Sayonara
Name[tr]=Sayonara
GenericName=Audio Player
GenericName[tr]=sayonara
Comment=Sayonara is a small, clear and fast audio player for Linux written in C++, supported by the Qt framework. It uses Gstreamer as audio backend.
Comment[tr]=Sayonara is a small, clear and fast audio player for Linux written in C++, supported by the Qt framework. It uses Gstreamer as audio backend.
Icon=sayonara
Exec=/usr/bin/sayonara
Terminal=false
StartupNotify=true
Categories=Applications;Audio;Player;Multimedia;
