[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Fwupd
Name[tr]=Fwupd
GenericName=Fwupd
GenericName[tr]=Fwupd
Icon=fwupd
Exec=fwupd
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
