[Desktop Entry]
Exec=/usr/sbin/lxdm
Type=Application
X-Pardus-PlymouthTransition=true
X-Pardus-XCursorTheme=Oxygen_White

Name=LXDM
GenericName=Lxqt Login Manager
GenericName[tr]=Lxqt Giriş Yöneticisi
